<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plan N Share</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="main-page-wrapper">
        <!-- main nav bar -->
        <nav class="main-nav">
            <div class="main-nav-row">
                <a href="/">
                    <div class="logo">
                        <img class="logo-img" src="{{ url_for('static', filename='images/icons/logo-icon.png') }}"
                            alt="logo">
                        <h6>PLAN N SHARE</h6>
                    </div>
                </a>
            </div>

            <div class="main-nav-row">
                <ul class="main-nav-ul">
                    <a href="/dashboard">
                        <li>
                            <img src="{{ url_for('static', filename='images/icons/home-icon.png') }}" alt="home-icon">
                            Dashboard
                        </li>
                    </a>
                    <a href="/tasks/new">
                        <li>
                            <img src="{{ url_for('static', filename='images/icons/add-task-icon.png') }}"
                                alt="add-task-icon">
                            Add New Task
                        </li>
                    </a>
                    <a href="/teams">
                        <li>
                            <img src="{{ url_for('static', filename='images/icons/team-icon.png') }}" alt="team-icon">
                            Manage Teams
                        </li>
                    </a>
                    <a href="/logout">
                        <li>
                            <img src="{{ url_for('static', filename='images/icons/logout-icon.png') }}"
                                alt="logout-icon">
                            Sign out
                        </li>
                    </a>
                </ul>
            </div>
        </nav>

        <!-- main content -->
        <main class="wrapper main-content-wrapper">
            <div class="main-content-row">
                <h6>Add New Task</h6>
                <div class="today-and-team-name-container">
                    <div class="today-container">
                        <img src="{{ url_for('static', filename='images/icons/calendar-icon.png') }}"
                            alt="calendar-icon">
                        <span class="current-date"></span>
                    </div>
                    <div class="team-name-container">
                        {% if current_team %}
                        <p>{{current_team.name}} Team</p>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="main-content-row">
                <div class="card-column-wrapper">
                    <div class="card-column">
                        <div class="card task-card" id="add-task-card">
                            <div class="card-header">
                                <h6>What is your new to-do?</h6>
                            </div>
                            <div class="card-body">
                                <form action="/tasks/new/create" method="post" autocomplete="off">
                                    <div class="form-group mb-3">
                                        <label for="add-task-category" class="mb-2">Category:</label>
                                        <select class="form-select task-category" id="add-task-category" name="category"
                                            onchange="handleAssignee()">
                                            <option value="" selected="selected">-- Select category --</option>
                                            <option value="Private"> Private (only visible to you)</option>
                                            <option value="Public"> Public (shared with your team)</option>
                                        </select>
                                        {% with messages =
                                        get_flashed_messages(category_filter=["error_task_category"]) %}
                                        {% if messages %}
                                        {% for message in messages %}
                                        <p class="validation-message">
                                            <img src="{{ url_for('static', filename='images/icons/alert-icon.png') }}"
                                                alt="icon">
                                            {{ message }}
                                        </p>
                                        {% endfor %}
                                        {% endif %}
                                        {% endwith %}
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="add-task-description" class="mb-2">Description:</label>
                                        <input class="form-control task-description" id="add-task-description"
                                            type="text" name="description">
                                        {% with messages =
                                        get_flashed_messages(category_filter=["error_task_description"]) %}
                                        {% if messages %}
                                        {% for message in messages %}
                                        <p class="validation-message">
                                            <img src="{{ url_for('static', filename='images/icons/alert-icon.png') }}"
                                                alt="icon">
                                            {{ message }}
                                        </p>
                                        {% endfor %}
                                        {% endif %}
                                        {% endwith %}
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="add-task-status" class="mb-2">Status:</label>
                                        <select class="form-select task-status" id="add-task-status" name="status">
                                            <option value="" selected="selected">-- Select status --</option>
                                            <option value="To do"> To do </option>
                                            <option value="In progress"> In progress </option>
                                            <option value="Done"> Done </option>
                                        </select>
                                        {% with messages =
                                        get_flashed_messages(category_filter=["error_task_status"]) %}
                                        {% if messages %}
                                        {% for message in messages %}
                                        <p class="validation-message">
                                            <img src="{{ url_for('static', filename='images/icons/alert-icon.png') }}"
                                                alt="icon">
                                            {{ message }}
                                        </p>
                                        {% endfor %}
                                        {% endif %}
                                        {% endwith %}
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="add-task-due-date" class="mb-2">Due Date:</label>
                                        <input class="form-control task-due-date" id="add-task-due-date" type="date"
                                            name="due_date">
                                        {% with messages =
                                        get_flashed_messages(category_filter=["error_task_due_date"]) %}
                                        {% if messages %}
                                        {% for message in messages %}
                                        <p class="validation-message">
                                            <img src="{{ url_for('static', filename='images/icons/alert-icon.png') }}"
                                                alt="icon">
                                            {{ message }}
                                        </p>
                                        {% endfor %}
                                        {% endif %}
                                        {% endwith %}
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="add-task-assignee-id" class="mb-2">Assignee:</label>
                                        <select class="form-select task-assignee-id" id="add-task-assignee-id"
                                            name="assignee_id">
                                            <option class="assign-default-option" value="" selected="selected">-- Select
                                                assignee --</option>
                                            <option class="assign-myself-option" value="{{ session['user_id'] }}">
                                                Myself
                                            </option>
                                            {% if all_team_users %}
                                            {% for user in all_team_users %}
                                            {% if user.id != session['user_id'] %}
                                            <option class="assign-others-option" value="{{ user.id }}"> {{
                                                user.first_name
                                                }} {{ user.last_name }}
                                            </option>
                                            {% endif %}
                                            {% endfor %}
                                            {% endif %}`
                                        </select>
                                        {% with messages =
                                        get_flashed_messages(category_filter=["error_task_assignee_id"]) %}
                                        {% if messages %}
                                        {% for message in messages %}
                                        <p class="validation-message">
                                            <img src="{{ url_for('static', filename='images/icons/alert-icon.png') }}"
                                                alt="icon">
                                            {{ message }}
                                        </p>
                                        {% endfor %}
                                        {% endif %}
                                        {% endwith %}
                                    </div>
                                    <div class="form-group mb-3">
                                        <a href="/">
                                            <button class="button button-1 full-width" type="button">Return</button>
                                        </a>
                                        <button class="button button-1 task-form-submit-button"
                                            id="add-task-form-submit-button" type="submit">
                                            Create
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='js/script.js') }}"></script>
</body>

</html>