<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plan N Share</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="main-page-container">
        <!-- main nav bar -->
        <nav class="main-nav">
            <div class="main-nav-row">
                <a href="/">
                    <div class="logo-wrapper">
                        <img class="logo-img" src="{{ url_for('static', filename='images/icons/logo-icon.png') }}"
                            alt="logo">
                        <p>PLAN N SHARE</p>
                    </div>
                </a>
            </div>

            <div class="main-nav-row">
                <ul class="main-nav-ul">
                    <a href="/dashboard">
                        <li>
                            <img src="{{ url_for('static', filename='images/icons/home-icon.png') }}" alt="home-icon">
                            Dashboard
                        </li>
                    </a>
                    <a href="/tasks/new">
                        <li>
                            <img src="{{ url_for('static', filename='images/icons/add-task-icon.png') }}"
                                alt="add-task-icon">
                            Add New Task
                        </li>
                    </a>
                    <a href="/teams">
                        <li>
                            <img src="{{ url_for('static', filename='images/icons/team-icon.png') }}" alt="team-icon">
                            Manage Teams
                        </li>
                    </a>
                    <a href="/signout">
                        <li>
                            <img src="{{ url_for('static', filename='images/icons/signout-icon.png') }}"
                                alt="signout-icon">
                            Sign out
                        </li>
                    </a>
                </ul>
            </div>
        </nav>

        <!-- main content -->
        <main class="wrapper main-content-wrapper">
            <div class="main-content-row">
                <div class="page-title-wrapper">
                    <h6>Dashboard</h6>
                </div>
                <div class="today-and-team-name-wrapper">
                    <div class="today-wrapper">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-calendar-check" viewBox="0 0 16 16">
                            <path
                                d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
                            <path
                                d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                        </svg>
                        <span class="current-date"></span>
                    </div>

                    <div class="team-name-wrapper">
                        {% if current_team %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-person-check" viewBox="0 0 16 16">
                            <path
                                d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514ZM11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z" />
                            <path
                                d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z" />
                        </svg>
                        <p>{{current_team.name}} Team</p>
                        {% else %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-person-exclamation" viewBox="0 0 16 16">
                            <path
                                d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm.256 7a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z" />
                            <path
                                d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-3.5-2a.5.5 0 0 0-.5.5v1.5a.5.5 0 0 0 1 0V11a.5.5 0 0 0-.5-.5Zm0 4a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1Z" />
                        </svg>
                        <p>No Team</p>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="main-content-row">
                <div class="card-column-wrapper status-card-column-wrapper">
                    <div class="card-column status-card-column" id="user-status-card-column">
                        <div class="card dashboard-card status-card" id="user-status-card">
                            <div class="card-header">
                                <h6>My Task Status</h6>
                            </div>
                            <div class="card-body">
                                <ul class="status-ul" id="user-status-ul">
                                    <li>Total number of tasks: <span id="total-num-of-user-tasks"></span></li>
                                    <li>Number of tasks to do: <span id="num-of-user-tasks-to-do"></span></li>
                                    <li>Number of tasks in progress: <span id="num-of-user-tasks-in-progress"></span>
                                    </li>
                                    <li>Number of tasks done: <span id="num-of-user-tasks-done"></span></li>
                                    <li>Number of overdue tasks: <span id="num-of-user-overdue-tasks"></span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-column status-card-column" id="team-status-card-column">
                        <div class="card dashboard-card status-card" id="team-status-card">
                            <div class="card-header">
                                <h6>Team Task Status</h6>
                            </div>
                            <div class="card-body">
                                <ul class="status-ul" id="team-status-ul">
                                    <li>Total number of tasks: <span id="total-num-of-team-tasks"></span></li>
                                    <li>Number of tasks to do: <span id="num-of-team-tasks-to-do"></span></li>
                                    <li>Number of tasks in progress: <span id="num-of-team-tasks-in-progress"></span>
                                    </li>
                                    <li>Number of tasks done: <span id="num-of-team-tasks-done"></span></li>
                                    <li>Number of overdue tasks: <span id="num-of-team-overdue-tasks"></span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="main-content-row">
                <div class="card-column-wrapper">
                    <div class="card dashboard-card " id="user-list-card">
                        <div class="card-header">
                            <h6>{{session['first_name']}}'s To-do List</h6>
                            <a href="/tasks/new">
                                <div class="add-task-wrapper">
                                    <img src="{{ url_for('static', filename='images/icons/add-new-task-icon.png') }}"
                                        alt="add-new-task-icon">
                                    <p>Add new task</p>
                                </div>
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="list-table-wrapper">
                                <table class="table table-striped table-hover list-table" id="user-list-table">
                                    <thead>
                                        <tr>
                                            <th class="list-table-th-id">#</th>
                                            <th class="list-table-th-descr">Description</th>
                                            <th class="list-table-th-status">Status</th>
                                            <th class="list-table-th-due-date">Due Date</th>
                                            <th class="list-table-th-category">Category</th>
                                            <th class="list-table-th-action">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-group-divider">
                                        {% if all_user_tasks %}
                                        {% for task in all_user_tasks %}
                                        <tr class="table-body-row user-table-body-row">
                                            <td><span class="table-row-id"></span></td>
                                            <td>{{ task.description }}</td>
                                            <td class="status-td"><span class="status-icon"></span>{{ task.status }}
                                            </td>
                                            <td class="due-date-td" data-overdue="false">{{ task.due_date }}</td>
                                            <td>{{ task.category }}</td>
                                            <td>
                                                <div class="action-button-container">
                                                    <div class="action-button edit-action-button">
                                                        <a href="/tasks/{{task.id}}/edit">
                                                            <img src="{{ url_for('static', filename='images/icons/edit-action-icon.png') }}"
                                                                class="action-button-icon" alt="edit-action-icon">
                                                            Edit
                                                        </a>
                                                    </div>
                                                    <div class="action-button delete-action-button">
                                                        <a href="/tasks/{{task.id}}/delete">
                                                            <img src="{{ url_for('static', filename='images/icons/delete-action-icon.png') }}"
                                                                class="action-button-icon" alt="delete-action-icon">
                                                            Delete
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="main-content-row">
                <div class="card-column-wrapper">
                    <div class="card dashboard-card" id="team-list-card">
                        <div class="card-header">
                            <h6>{{current_team.name}} Team's To-do List</h6>
                            <a href="/tasks/new">
                                <div class="add-task-wrapper">
                                    <img src="{{ url_for('static', filename='images/icons/add-new-task-icon.png') }}"
                                        alt="add-new-task-icon">
                                    <p>Add new task</p>
                                </div>
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="list-table-wrapper">
                                <table class="table table-striped table-hover list-table" id="team-list-table">
                                    <thead>
                                        <tr>
                                            <th class="list-table-th-id">#</th>
                                            <th class="list-table-th-descr">Description</th>
                                            <th class="list-table-th-status">Status</th>
                                            <th class="list-table-th-due-date">Due Date</th>
                                            <th class="list-table-th-created-by">Created by</th>
                                            <th class="list-table-th-action">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-group-divider">
                                        {% if all_team_tasks %}
                                        {% for task in all_team_tasks %}
                                        <tr class="table-body-row team-table-body-row">
                                            <td><span class="table-row-id"></span></td>
                                            <td>{{ task.description }}</td>
                                            <td class="status-td"><span class="status-icon"></span>{{ task.status }}
                                            </td>
                                            <td class="due-date-td" data-overdue="false">{{ task.due_date }}</td>
                                            <td>
                                                {% if session['user_id'] == task.user_id %}
                                                Me
                                                {% else %}
                                                {{ task.first_name }} {{ task.last_name}}
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if session['user_id'] == task.user_id %}
                                                <div class="action-button-container">
                                                    <div class="action-button edit-action-button">
                                                        <a href="/tasks/{{task.id}}/edit">
                                                            <img src="{{ url_for('static', filename='images/icons/edit-action-icon.png') }}"
                                                                class="action-button-icon" alt="edit-action-icon">
                                                            Edit
                                                        </a>
                                                    </div>
                                                    <div class="action-button delete-action-button">
                                                        <a href="/tasks/{{task.id}}/delete">
                                                            <img src="{{ url_for('static', filename='images/icons/delete-action-icon.png') }}"
                                                                class="action-button-icon" alt="delete-action-icon">
                                                            Delete
                                                        </a>
                                                    </div>
                                                </div>
                                                {% else %}
                                                N/A
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='js/script.js') }}"></script>
</body>

</html>