<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plan N Share</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="page-wrapper">
        <!-- header -->
        <header class="index-header">
            <a href="/">
                <div class="logo">
                    <img class="logo-img" src="{{ url_for('static', filename='images/icons/logo-icon.png') }}"
                        alt="logo-icon">
                    <h3>PLAN N SHARE</h3>
                </div>
            </a>
        </header>

        <!-- main content -->
        <main class="index-main">
            <div class="error-page-container">
                <h3>Sorry, this page isn't available!</h3>
                <p>The link you followed may be broke, or the page may have been removed.</p>
                <a href="/">
                    <button class="button">Back to homepage</button>
                </a>
            </div>
        </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>

</html>