/***** MOBILE FIRST DESIGN *****/
/* --- GLOBAL STYLING --- */
:root {
    --base: #ececec;
    --light: #ffffff;
    --medium: #233435;
    --dark: #1D2526;
    --highlight1: #B0413E;
    --highlight2: #FCAA67;
    --highlight3: #40ae58;
    --light-gray: #c5c5c5;
    --dark-gray: #646b69;
    --border-radius: 7px;
    --box-shadow: 0rem 1rem 1rem rgb(0 0 0 / 15%);
}

body {
    height: 100%;
    color: var(--dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin: 0;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.5rem;
}

h5 {
    font-size: 2rem;
}

h6 {
    font-size: 1.5rem;
}

p {
    margin: 0;
}

template {
    display: none;
}

/* wrapper styling */
.wrapper {
    width: 100%;
}

.page-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main-page-container {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.full-width {
    width: 100%;
}

/* card styling */
.card-column-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.card-column {
    display: flex;
    justify-content: center;
    flex: 0 0 100%;
    transition: all 500ms ease-in-out;

}

.card {
    width: 100%;
    min-height: 100%;
    background-color: var(--light);
    border: none;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1.5rem;
}

.card-header {
    width: 100%;
    background-color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0.5rem 0;
}

.card-body {
    width: 100%;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 1rem 0 0.5rem 0;
}

/* form styling */
input,
input::placeholder,
option {
    font-size: 0.8rem;
}

/* button styling */
.button {
    height: 2.5rem;
    font-weight: 700;
    border: none;
    border-radius: var(--border-radius);
    padding: 0.5rem 2rem;
    transition: 0.3s;
    opacity: 0.8;
}

.button:hover {
    opacity: 1;
}

.button-1 {
    color: var(--light);
    background-color: var(--medium);
}

/* alert message styling */
.alert-message {
    font-size: 0.8rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0.5rem;
    gap: 0.2rem;
}

.error-message {
    color: var(--highlight1);
}

.success-message {
    color: var(--highlight3);
}

/***** LOCAL STYLING *****/

/* INDEX PAGE */
.index-header {
    width: 100%;
    max-height: fit-content;
    background-color: var(--medium);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 1rem;
}

.logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
}

.logo-wrapper p {
    font-size: 2rem;
    font-weight: bold;
    color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.index-main {
    width: 100%;
    background-color: var(--medium);
    padding: 1rem;
    flex-grow: 1;
}

.index-main .card-column {
    min-width: 300px;
    max-width: 350px;
}

.guest-login {
    width: 100%;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    color: var(--dark-gray);
}

#index-register-card .card-body-row:nth-of-type(1) {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#index-register-card .card-body-row:nth-of-type(1) p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

#index-register-card .card-body-row:nth-of-type(1) ul {
    margin-bottom: 1rem;
}

#index-register-card li {
    font-style: italic;
    padding: 0.5rem 0;
}

#index-register-card img {
    width: 1rem;
    height: 1rem;
}

/* REGISTER PAGE */
#register-user-form-card form .form-group:last-of-type {
    display: flex;
    justify-content: space-between;
}

#register-user-form-card form .form-group:last-of-type a,
#register-user-form-submit-button {
    width: 45%;
}

/* MAIN PAGE AFTER LOGIN */
.page-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main-nav {
    background-color: var(--medium);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.main-nav-row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    transition: all 500ms ease-in-out;

}

.main-nav-ul {
    width: 100%;
    max-width: 450px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.main-nav-ul img {
    width: 0.8rem;
    height: 0.8rem;
    margin-right: 0.5rem;
    filter: invert(1);
}

.main-nav-ul a {
    width: fit-content;
}

.main-nav-ul li {
    width: 150px;
    color: var(--base);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem;
    border-radius: var(--border-radius);
    white-space: nowrap;

}

.main-nav-ul li:hover {
    background-color: var(--highlight1);
}

.main-content-wrapper {
    min-height: fit-content;
    flex-grow: 1;
    background-color: var(--base);
    padding: 1rem;
}

.main-content-row {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.main-content-row:first-of-type {
    gap: 1rem;
}

.today-and-team-name-wrapper {
    font-size: 0.8rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.today-wrapper,
.team-name-wrapper {
    width: 50%;
    height: 2rem;
    color: var(--light);
    background-color: var(--dark-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    padding: 0 1rem;
    white-space: nowrap;
}

.today-wrapper img {
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
    filter: invert(1);
}

.team-name-wrapper .bi-gear {
    margin-right: 0.5rem;
}

/* DASHBOARD PAGE */
.dashboard-card .card-header {
    flex-direction: column;
    align-items: flex-start;
}

.status-ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#user-list-card .card-header a,
#team-list-card .card-header a {
    width: fit-content;
}

.add-task-wrapper {
    height: 2rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    margin-top: 0.5rem;
    padding: 0.5rem 0rem;
}

.add-task-wrapper:hover {
    color: var(--highlight1)
}

.add-task-wrapper img {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.5rem;
}

.list-table-wrapper {
    overflow-x: auto;
}

.list-table {
    white-space: nowrap;
}

.to-do-icon {
    width: 0.8rem;
    height: 0.8rem;
    background-color: var(--highlight1);
    border-radius: 50%;
    margin-right: 0.5rem;
    vertical-align: middle;
    display: inline-block;
}

.in-progress-icon {
    width: 0.8rem;
    height: 0.8rem;
    background-color: var(--highlight3);
    border-radius: 50%;
    margin-right: 0.5rem;
    vertical-align: middle;
    display: inline-block;
}

.done-icon {
    width: 0.8rem;
    height: 0.8rem;
    background-color: #bbb;
    border-radius: 50%;
    margin-right: 0.5rem;
    vertical-align: middle;
    display: inline-block;
}

.action-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.action-button-icon {
    width: 0.8rem;
    height: 0.8rem;
    margin-right: 0.2rem;
}

.delete-action-button {
    margin-left: 1rem;
}

.action-button:hover {
    color: var(--highlight1);
}

/* ADD NEW TASKS PAGE */
.task-card .card-header,
.task-card .card-body {
    max-width: 600px;
}

.task-card .card-body {
    padding-top: 1.5rem;
}

.task-card form .form-group:last-of-type {
    display: flex;
    justify-content: space-between;
}

.task-card form .form-group:last-of-type a,
.task-form-submit-button {
    width: 45%;
}

/* MANAGE TEAMS PAGE */

.edit-team-name-form-container {
    display: none;
}

.edit-team-name-form {
    min-width: 200px;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.edit-team-name-form .button-container {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.edit-team-name-form button {
    width: 50%;
    height: 2rem;
    padding: 0;
}

.edit-action-button {
    cursor: pointer;
}

/* ERROR PAGE */
.error-page-wrapper {
    height: 60%;
    color: var(--light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.error-page-wrapper h3,
.error-page-wrapper p {
    text-align: center;
}

.error-page-wrapper a {
    width: fit-content;
}

.error-page-wrapper button {
    white-space: nowrap;
    background-color: var(--highlight2);
}

/* For screens larger than 768px*/
@media screen and (min-width: 768px) {

    .index-main .card-column {
        max-width: 350px;
    }

    .index-main .card-column:last-child {
        flex-grow: 1;
    }

    .main-nav-ul {
        max-width: 100%;
        flex-wrap: nowrap;
    }

    .main-nav-ul img {
        width: 1.2rem;
        height: 1.2rem;
    }

    .main-nav-ul li {
        font-size: 1rem;
    }

    .dashboard-card .card-header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .status-card-column-wrapper {
        justify-content: space-between;
        gap: 0;
    }

    .status-card-column {
        flex: 0 0 49%;
        max-width: 49%;
    }

    .add-task-wrapper {
        border-radius: var(--border-radius);
        margin-top: 0rem;
        padding: 0.5rem 0rem;
    }

    .list-table-th-id {
        width: 5%;
    }

    .list-table-th-descr {
        width: 25%;
    }

    .list-table-th-status,
    .list-table-th-due-date,
    .list-table-th-category,
    .list-table-th-created-by,
    .list-table-th-action {
        width: 14%;
    }

    .list-table th,
    .list-table td {
        line-height: 1.5rem;
    }

    .manage-teams-card-column-wrapper {
        justify-content: space-between;
        gap: 0;
    }

    .manage-teams-card-column {
        flex: 0 0 49%;
        max-width: 49%;
    }
}

/* For screens larger than 992px */
@media screen and (min-width: 992px) {
    .main-page-container {
        flex-direction: row;
    }

    .index-main .card-column {
        max-width: 400px;
    }

    .main-nav {
        width: fit-content;
    }

    .main-nav-row:first-of-type {
        height: 3rem;
    }

    .main-nav .logo-wrapper .logo-img {
        width: 1.5rem;
        height: 1.5rem;
    }

    .main-nav .logo-wrapper p {
        font-size: 1.5rem;
    }

    .main-nav-ul {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .main-nav-ul a {
        width: 100%;
    }

    .main-nav-ul li {
        width: 100%;
    }

    .main-content-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .main-content-row:first-of-type {
        height: 3rem;
    }

    .page-title-wrapper,
    .today-and-team-name-wrapper,
    .today-wrapper,
    .team-name-wrapper {
        width:50%;
    }

    .add-task-card-column {
        padding: 0.5rem 0;
    }
}